@use '../setup/' as *;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Monserrat;
  background-color: $primary-clr-200;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* FORM INPUTS */
button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

input:not([type='checkbox'], [type='radio']),
select,
textarea {
  padding: 0.5em 0.75em;
  font: inherit;
  color: inherit;
  border: 1px solid $primary-clr-300;
  border-radius: $radius-md;
  background-color: $clr-white;

  &:focus-visible {
    border-color: $primary-clr-500;
    outline: 2px solid rgba($primary-clr-500, 0.3);
  }
}

/* FIX - radiobutton and scroll bars*/
