@use 'setup' as *;
@use 'sass:color';

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.bold {
  font-weight: bold;
}

.main-btn {
  padding: 0.5em 1em;
  color: $primary-clr-100;
  border-radius: $radius-sm;
  box-shadow: 0 0 5px $primary-clr-300;
  background-color: $primary-clr-500;

  &:hover {
    background-color: color.scale($primary-clr-500, $lightness: -5%);
  }
}

.sub-btn {
  padding: 0.5em;
  color: $primary-clr-500;
  border: 1px solid $primary-clr-500;
  border-radius: $radius-sm;
  background-color: $clr-white;
  box-shadow: 0 0 5px $primary-clr-300;

  &:hover {
    background-color: color.scale($clr-white, $lightness: -1%);
  }
}

.danger-btn {
  background-color: $clr-danger;
  box-shadow: 0 0 5px color.scale($clr-danger, $lightness: 40%);

  &:hover {
    background-color: color.scale($clr-danger, $lightness: -5%);
  }
}

.danger-outline-btn {
  padding: 0.5em 1em;
  color: $clr-danger;
  border: 1px solid $clr-danger;
  border-radius: $radius-sm;
  background-color: $clr-white;

  &:hover:not(:disabled) {
    background-color: color.scale($clr-danger, $lightness: 92%);
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

/* DEBUG */
.debug > * {
  border: 1px solid red;
}
